[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiormq = ">=6.2.3"
pydantic = ">=1.9.0"
yarl = "*"
hiredis = "*"
roview = "*"
siderpy = "*"

[dev-packages]
arrlio = {editable = true, path = "."}
build = "*"
coverage = "*"
docker = "*"
flake8 = "*"
invoke = "*"
mkdocs = "*"
mkdocs-material = "*"
Pygments = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
twine = "*"

[requires]
python_version = "3"
