[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiormq = ">=6.6.4"
pydantic = ">=1.10.1"
yarl = "*"
hiredis = "*"
roview = "*"
siderpy = ">=0.7.0"

[dev-packages]
arrlio = {editable = true, path = "."}
black = "*"
build = "*"
celery = "*"
coverage = "*"
docker = "*"
httpx = "*"
flake8 = "*"
invoke = ">=2.0.0"
mkdocs = "*"
mkdocs-material = "*"
pyamqp = "*"
Pygments = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
twine = "*"

[requires]
python_version = "3"
